/* Estilização padrão da página <GERAL> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", serif;
}
body{
    background-color: #000000;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    background-color: #ffffff;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 30px;
    transition: 1s;
    cursor: pointer;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

/* Estilização do <HEADER> */
header{
    padding: 40px 4%;
    text-decoration: none;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.interface .logo img{
    width: 85px;
    height: 85px;
    border-radius: 100px;
}
header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0px 40px;
}

/* Estilização do <TOPO-DO-SITE> */
.topo-do-site .img-topo-site img{
    width: 650px;
    height: 400px;
}
.topo-do-site .img-topo-site img:hover{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site .txt-topo-site h1{
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #ffffff;
    transition: 1s;
}
.topo-do-site .txt-topo-site h1 span:hover{
    color: #ff2b60;
}
.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 40px 0px;
    text-align: justify;
}
.topo-do-site .txt-topo-site p span{
    transition: 0.5s;
}
.topo-do-site .txt-topo-site p span:hover{
    color: #ff2b60;
}

/* Animação de flutuação */
@keyframes flutuar{
    0%{
        top: 0px;
    }
    100%{
        top: 30px;
    }
}